.body{
    user-select: none;
}

#start{
    text-align: center;
    justify-content: center;
    height: 100%;
}

.start_header{
    color: white;
    font-size: 80;
    width: fit-content;
    margin: auto;
    margin-top: 15%;
}

.button-holder{
    display: flex;
    width:60%;
    margin: auto;
    margin-top: 5%;
}

.menu-button{
    flex: 1;
    height: 100px;
    width: 100px;
    background: none;
    border: none;
    padding: 0;
    font-size: 45;
    margin: auto;
    cursor: pointer;
    font-family: "Times New Roman";
}

.menu-button:hover{
    font-size: 100;
}

.main{
    align-items: flex-end;
    width: 100%;
    height: 100%;
    display: none;
}

.textbox{
    border:10px double #a69d6f;
    margin-bottom: 1%;
    margin-left: 1%;
    overflow: scroll;
    background-color:#63492b;
}

#narrator{
    font-size: 30;
    font-family: 'Times New Roman';
    color: white;
    display: inline-block;
    margin-top: 2%;
    margin-left: 2%;
}

#cursor{
    content:"";
    width: 10px;
    height:30px;
    background: white;
    margin-bottom: -5px;
    opacity: 0;
    display: inline-block;
}

.sidebar{
    border: 8px double blue;
    margin-bottom: 1%;
    margin-left: 1%;
    background: whitesmoke;
    border-radius: 0px;
    transition: 1s;
}

@keyframes flip-in-Y {
    0% {
        opacity: 0;
        transform: rotateY(-180deg);
    }

    100% {
        opacity: 1;
        transform: none;
    }
}

.header {
    font-size: 40pt;
    text-align: center;
    width: fit-content;
    text-transform: uppercase;
    margin: auto;
    margin-top: 5%;
    padding: 5px;
    background-color: inherit;
}

#sidebar-button-holder{
    margin-top: 10%;
    width: 400px;
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
    justify-content: center;
}

.sidebar-icon-button{
    cursor:pointer;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    text-align: center;
}

.sidebar-icon-button-shadow {
    position: absolute;
    width: 150px;
    height: 150px;
    filter: brightness(0%);
    transform: translateY(2px);
}

.sidebar-icon-button-img-bottom{
    width: 150px;
    height: 150px;
    filter: brightness(50%);
}

.sidebar-icon-button-img {
    width: 150px;
    height: 150px;
    position: relative;
    bottom: 154px;
    transition: 600ms cubic-bezier(.3, .7, .4, 1);
}

.sidebar-icon-button-text {
    position: relative;
    bottom: 260px;
    font-size: 40;
    color: white;
    transition: 600ms cubic-bezier(.3, .7, .4, 1);
}

.sidebar-icon-button:hover .sidebar-icon-button-text {
    transform: translateY(-2px);
    transition: 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.sidebar-icon-button:hover .sidebar-icon-button-img {
    transform: translateY(-2px);
    transition: 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.sidebar-icon-button:hover .sidebar-icon-button-shadow {
    transform: translateY(1px);
    transition: 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.sidebar-icon-button:active .sidebar-icon-button-img {
    transform: translateY(3px);
    transition: 34ms;
}

.sidebar-icon-button:active .sidebar-icon-button-text {
    transform: translateY(3px);
    transition: 34ms;
}

.sidebar-icon-button:active .sidebar-icon-button-shadow {
    transform: translateY(-1px);
    transition: 34ms
}

#combat-tricks-img {
    filter: invert(35%) sepia(97%) saturate(505%) hue-rotate(74deg) brightness(96%) contrast(86%);
}

#combat-tricks-img-bottom {
    filter: invert(35%) sepia(97%) saturate(505%) hue-rotate(74deg) brightness(33%) contrast(86%);
}

#status-effects-img {
    filter: invert(60%) sepia(63%) saturate(1691%) hue-rotate(1deg) brightness(106%) contrast(105%);
}

#status-effects-img-bottom {
    filter: invert(60%) sepia(63%) saturate(1691%) hue-rotate(1deg) brightness(33%) contrast(105%);
}

.sidebar-button-back {
    background-color: rgb(93, 92, 92);
    transition: 0.3s;
    clip-path: polygon(0% 0%, 91% 0, 100% 51%, 91% 100%, 0% 100%);    
    width: 200px;
    height: 60px;
}

.sidebar-button {
    width:inherit;
    height:inherit;
    clip-path: polygon(0% 0%, 91% 0, 100% 51%, 91% 100%, 0% 100%);
}   

.sidebar-button-front {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    width:inherit;
    height:inherit;
    font-size: 20px;
    transition: 0.3s;
    background-color: grey;
    cursor: pointer;
    clip-path: polygon(0% 0%, 91% 0, 100% 51%, 91% 100%, 0% 100%);
}
  
.sidebar-button-back:hover {
    transform: skew(-15deg);
    background-color: rgb(97, 220, 97, 1.0);
    width: 250px;
    /*animation: pulse-back 1s infinite;*/
}

@keyframes pulse-back{
    from{
        background-color: rgb(97, 220, 97, 1.0);
    }
    to{
        background-color: rgb(97, 220, 97, 0.0);
    }
}

.sidebar-button-back:hover .sidebar-button {
    background-color: rgb(53, 183, 53, 1.0);
    width: 220px;
    /*animation: pulse-button 1s infinite;*/
}

@keyframes pulse-button{
    from{
        background-color: rgb(53, 183, 53, 0.0);
    }
    to{
        background-color: rgb(53, 183, 53, 1.0);
    }
}

.sidebar-button-back:hover .sidebar-button-front{
    background-color: rgb(28, 160, 28);
    width: 190px;
    letter-spacing: 3px;
}

.sidebar-button-back:active .sidebar-button-front{
    background-color: green;
    width: 300px;
}

.sidebar-button-back:active{
    width:190px;
}
.paused{
    pointer-events: none;
}   